.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-gap: 20px; */
  min-height: 90vh;
  background: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px #aaa;
}
.container ul {
  margin-top: 50px;
}

li {
  list-style: none;
  color: white;
  border-bottom: 1px solid rgb(77, 77, 77);
  margin: 3px auto;
  font-weight: 500;
  padding: 10px 0;
  cursor: pointer;
}
.list-div {
  width: 100%;
  background: rgb(40, 44, 42);
}
.container .image {
  color: rgb(26, 50, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .image > div {
  background: rgba(134, 227, 240, 0.5);
}
.container .image > div h3 {
  margin: 10px auto;
}
